<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>Hello, <%= @passenger.name %></h3>
        <p>
            Your flight has been confirmed!
            Here are the details:
        </p>
            Booking: <%= @booking.flight_id %>
            Date: <%= @flight.start %>
        <p>
        </p>
    </body>
</html>